<%= render @post %>
<div class="comment_forms">
<div>
<%= form_for [@post, @comment], remote: true do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
</div>


